<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="buttongroup col-xs-12 col-md-4">
  <!-- isave selection -->
  <div class="col-xs-12 text-center">
    <label class="btn-group col-xs-12" style="padding-left: 0px; padding-right: 0px;">
      <checkbox ng-disabled="requestRunning" class="btn-danger-nohover col-xs-2" id="basic-addon1" largest ng-model="isave"></checkbox>
      <span class="btn btn-danger col-xs-10" ng-class="{active:isave}" style="height: 45px;">
        <i class="fa fa-2x fa-leaf"></i> i-save
      </span>
    </label>
  </div>

  <!-- Mode selection -->
  <div class="btn-group col-xs-12">
    <label class="btn btn-primary btn-lg col-xs-4" ng-model="mode" ng-change="selectMode()" btn-radio="'HEAT'">
      <i class="wi wi-day-sunny"></i>
    </label>
    <label class="btn btn-primary btn-lg col-xs-4" ng-model="mode" ng-change="selectMode()" btn-radio="'COLD'">
      <i class="wi wi-snowflake-cold"></i>
    </label>
    <label class="btn btn-primary btn-lg col-xs-4" ng-model="mode" ng-change="selectMode()" btn-radio="'FAN'">
      <i class="wi wi-hurricane"></i>
    </label>
  </div>

  <!-- Temperature selection -->
  <div class="btn-group col-xs-12">
    <h-number value="temperature" min="16" max="30" step="1" plural="°C" change="temperatureChanged()"></h-number>
  </div>
</div>